<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-Caliburn.Micro.Logging" version="1.0.0" targetFramework="net46" />
  <package id="Analects.Caliburn.Micro.NLog" version="1.0.0" targetFramework="net46" />
  <package id="Caliburn.Micro" version="3.0.0" targetFramework="net46" />
  <package id="Caliburn.Micro.Core" version="3.0.0" targetFramework="net46" />
  <package id="Caliburn.Micro.Logging" version="2.0.3.0" targetFramework="net46" />
  <package id="Caliburn.Micro.Logging.log4net" version="2.0.3.0" targetFramework="net46" />
  <package id="log4net" version="2.0.3" targetFramework="net46" />
  <package id="NLog" version="4.2.3" targetFramework="net46" />
</packages>